apscheduler==3.0.3
pandas==0.15.2
cchardet==0.3.5
numpy==1.9.2
beautifulsoup4==4.3.2
Flask==0.10.1
MarkupSafe==0.23
scipy==0.15.0
scikit-learn==0.16.0
Werkzeug==0.10.4
retrying==1.3.3
lxml==3.4.4
readability-lxml==0.5.1
