<!DOCTYPE html>
<html>
  <head>
    <title>Politische Bias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/furtive.css" rel="stylesheet" media="screen">

  </head>
  <body class="bg--off-white">
    <div class="py2 txt--center">
      <div class="grd">
        <div class="grd-row">
          <div class="grd-row-col-3-6">
            <div class="grd">
              <div class="grd-row p2">
                <h4>Jemand hat einmal gesagt</h4>
              </div>
              <div class="grd-row p2">
                <p>{{my_string}}</p>
              </div>
            </div>
          </div>
          <div class="grd-row-col-3-6">
            <div class="grd">
              <div class="grd-row p2">
                <h4 class="flt--right">was am besten beschreibt thier Gefühl?</h4>
              </div>
              <div class="grd-row">
                <div class="grd-row-col-3-6">
                  <ul class="list--unstyled">
                    {% for n in list_1 %}
                    <li>{{n}}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="grd-row-col-3-6">
                  <ul class="list--unstyled">
                    {% for n in list_2 %}
                    <li>{{n}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grd-row">
          <!-- <div class="grd"> -->
            <!-- <div class="grd-row"> -->
              <div class="grd-row-col-2-6"></div>
              <div class="grd-row-col-2-6">
              <h5 class="txt--center">Welche Art und Weise lehnten sie?</h5>
              </div>
              <div class="grd-row-col-2-6"></div>

            </div>
            <div class="grd-row">
              <div class="grd-row-col-2-6">
              </div>
              <div class="grd-row-col-2-6">
                <button type="button" name="leaning_left" class="btn-grey">LINKS</button>
                <button type="button" name="leaning_left" class="btn-grey">CENTER</button>
                <button type="button" name="leaning_left" class="btn-grey">RECHT</button>
              </div>
              <div class="grd-row-col-2-6">
              </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
